<html>
	<head>
		<script type="text/javascript" src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
		<!-- import Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
		<!-- import element -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!-- import stylesheet -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- import stylesheet -->
		<link rel="stylesheet" href="./css/common.css">
		<link rel="stylesheet" href="./css/index.css">
		<!-- import form-create/element -->
		<script src="https://unpkg.com/form-create/dist/form-create.elm.min.js"></script>
		<script src="./component/menu.js"></script>
		<script src="./component/formCreate.js"></script>
		<script src="./component/cView.js"></script>
		<script src="./component/cMain.js"></script>
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header>
					Header
				</el-header>
				<el-container>
				  <el-aside width="200px">
					<c-menu/>
				  </el-aside>
				  <el-main>
						<router-view @open='(val) => {drawer = val}'></router-view>
					</el-main>
				</el-container>
			  </el-container>
			  <el-drawer
					title="我是标题"
					:visible.sync="drawer"
					:direction="direction"
					:before-close="handleClose">
					<form-create v-if='drawer' :data='$route'/>
			 </el-drawer>
		</div>
		<script type="text/javascript">
			var router = new VueRouter({
				routes: [
					{ path: '/', redirect: '/c-view'},
					{ path: '/c-view', component: CView },
					{ path: '/c-main', component: CMain }
				]
			})
			var vm = new Vue({
				el: '#app',
				router: router,
				component: ['c-menu', 'form-create', 'c-view', 'router-view'],
				data: {
					test: 'test',
					drawer: false,
					direction: 'rtl',
				},
				watch: {
					$route(val) {
						console.log('change', val && val.fullPath)
					}
				},
				mounted() {
					console.log('init', this.$route.fullPath)
				},
				methods: {
					handleClose(done) {
								done();
					}
				}
			})
		</script>
	</body>
</html>

